@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-family: "Roboto";
}
.container {
  margin: 30px auto;
  width: 360px;
}
.expense-container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

h1 {
  margin: 0;
}
h4 {
  text-transform: uppercase;
  margin: 0;
}

h3 {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin: 30px 0 10px 0;
}

.expense-container > div {
  flex: 1;
  text-align: center;
}

.expense-container > div:nth-child(1) {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 22px;
  margin: 5px 0;
}

.money.positive {
  color: #23b35f;
}

.money.negative {
  color: #ff4444;
}

label {
  margin: 8px 0;
  display: inline-block;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  border: solid 1px #d1cdcd;
  border-radius: 4px;
  display: block;
  padding: 12px;
  font-size: 14px;
}

.btn {
  padding: 10px;
  font-size: medium;
  background-color: #00c851;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  border: none;
  margin-top: 8px;
  cursor: pointer;
  outline: none;
}
.btn-delete {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li {
  color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 10px 0;
  background-color: #fff;
}
.list li.plus {
  border-right: solid 6px #2ecc71;
}
.list li.minus {
  border-right: solid 6px #c0392b;
}

.list li:hover .btn-delete {
  opacity: 1;
}
